/Laravel/.phpunit.cache
/Laravel/node_modules
/Laravel/public/build
/Laravel/public/hot
/Laravel/public/storage
/Laravel/storage/*.key
/Laravel/vendor
/Laravel.env
/Laravel/.env.backup
/Laravel/.env.production
/Laravel/.phpunit.result.cache
/Laravel/Homestead.json
/Laravel/Homestead.yaml
/Laravel/auth.json
/Laravel/npm-debug.log
/Laravel/yarn-error.log
/Laravel/.fleet
/Laravel/.idea
/Laravel/.vscode
