/Laravel/.phpunit.cache
/Laravel/node_modules
/Laravel/public/build
/Laravel/public/hot
/Laravel/public/storage
/Laravel/storage/*.key
/Laravel/vendor
/Laravel.env
/Laravel.env.backup
/Laravel.env.production
/Laravel.phpunit.result.cache
/LaravelHomestead.json
/LaravelHomestead.yaml
/Laravelauth.json
/Laravelnpm-debug.log
/Laravelyarn-error.log
/Laravel/.fleet
/Laravel/.idea
/Laravel/.vscode
